In [1]:
#請建立類似提供結果的 DataFrame：
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34
import pandas as pd
df = pd.DataFrame(
  {'Apples':[30],
   'Bananas':[21]
  }
)
print(df)


df = pd.DataFrame(
  {'Apples':[35,41],
   'Bananas':[21,34]
  }, index=['2017 Sales','2018 Sales']
)
print(df)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [2]:
#請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon

city=['Austin','Dallas','Austin','Dallas ']
visitor=[139,237,326,456]
weekday=['Sun','Sun','Mon','Mon']

data={'city':city, 'visitor':visitor, 'weekday':weekday}
df = pd.DataFrame(data)
#print(df)

df

      city  visitor weekday
0   Austin      139     Sun
1   Dallas      237     Sun
2   Austin      326     Mon
3  Dallas       456     Mon

In [3]:
df['visitor'].describe()

count      4.000000
mean     289.500000
std      134.735543
min      139.000000
25%      212.500000
50%      281.500000
75%      358.500000
max      456.000000
Name: visitor, dtype: float64